<section>
  <h2 class="text-secondary fw-bolder mb-4">Education</h2>
  <!-- Education Card 1-->
  <div class="card shadow border-0 rounded-4 mb-5">
      <div class="card-body p-5">
          <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                  <div class="bg-light p-4 rounded-4">
                      <div class="text-secondary fw-bolder mb-2">2014 - 2016</div>
                      <div class="mb-2">
                          <div class="small fw-bolder">Sikkim Manipal University</div>
                          <div class="small text-muted">Sikkim, India</div>
                      </div>
                      <div class="fst-italic">
                          <div class="small text-muted">Master's</div>
                          <div class="small text-muted"></div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-8"><div>Master of Bussines Administration in Information Systems</div></div>
          </div>
      </div>
  </div>
  <!-- Education Card 2-->
  <div class="card shadow border-0 rounded-4 mb-5">
      <div class="card-body p-5">
          <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                  <div class="bg-light p-4 rounded-4">
                      <div class="text-secondary fw-bolder mb-2">2009 - 2013</div>
                      <div class="mb-2">
                          <div class="small fw-bolder">University of Kerala</div>
                          <div class="small text-muted">Kerala, India</div>
                      </div>
                      <div class="fst-italic">
                          <div class="small text-muted">Bachelor's</div>
                          <div class="small text-muted"></div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-8"><div> Bachelor of Technology in Computer Science and Engineering </div></div>
          </div>
      </div>
  </div>
</section>
