<div class="container px-5 my-5">

  <div class="row gx-5 justify-content-center">
      <div class="col-lg-11 col-xl-9 col-xxl-8">
<section class="bg-light py-5">
  <div class="container px-5">
      <div class="row gx-5 justify-content-center">
          <div class="col-xxl-8">
              <div class="text-center my-5">
                  <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Benoy Thomas</span></h2>
                  <img class="profile-img img-style" src="assets/images/benoyimage.jpg"   alt="..." />

                  <h2 class=""> Full Stack Developer</h2>
                  <p class="text-muted">Please Check my resume page and if you think I am a good fit  contact me </p>
                  <div class="d-flex justify-content-center fs-2 gap-4">
                    <a class="text-gradient" href="Tel:289-808-8618" target="_blank"><i class="bi bi-phone"></i></a>
                      <a class="text-gradient" href="mailto:benoysamthomas@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
                      <a class="text-gradient" href="https://www.linkedin.com/in/benoysamthomas/" target="_blank"><i class="bi bi-linkedin"></i></a>
                      <a class="text-gradient" href="https://github.com/benoysamthomas" target="_blank"><i class="bi bi-github"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
  </div>
 </div>
</div>
