    <!-- Experience Card 1-->
    <div class="card shadow border-0 rounded-4 mb-5" >
      <div class="card-body p-5">
          <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                  <div class="bg-light p-4 rounded-4">
                      <div class="text-primary fw-bolder mb-2">2015 - 2017</div>
                      <div class="small fw-bolder">Software Engineer</div>
                      <div class="small text-muted">VBIS India</div>
                      <div class="small text-muted">Kerala, India</div>
                  </div>
              </div>
              <div class="col-lg-8"><div>Developed and Designed Responsive Web Applications and Websites using PHP, CodeIgniter Framework, JQuery, AJAX, JSON and Used MySQL for the development with 100% Client Satisfaction</div></div>
          </div>
      </div>
  </div>
  <!-- Experience Card 2-->
  <div class="card shadow border-0 rounded-4 mb-5">
      <div class="card-body p-5">
          <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                  <div class="bg-light p-4 rounded-4">
                      <div class="text-primary fw-bolder mb-2">2013 - 2015</div>
                      <div class="small fw-bolder">Jr. Software Engineer</div>
                      <div class="small text-muted">Virtus India Pvt Ltd</div>
                      <div class="small text-muted">Kerala, India</div>
                  </div>
              </div>
              <div class="col-lg-8"><div> Developed various Webapplications using Core-PHP and JavaScript and debugged existing application. Documented the projects and monitored client issues.</div></div>
          </div>
      </div>
  </div>
